.avtbody {
    background-image: url(img/BgAdventure.jpg);
    background-attachment: fixed;
}

.navavt {
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    display: flex;
     align-items: center;
     justify-content: space-around;
     background-color: rgb(207, 207, 207);
     background-image: url(img/Navadt.png);
     background-size: 100%;
     border-radius: 100px;
     border: 6px solid black;
 
 }
 .adtnav {
   font-size: 30px;
     text-decoration: none;
     color: black;
     background-color: rgb(207, 1, 1);
     border-radius: 50px;
     box-shadow: inset 0 0 0 0 rgb(15, 4, 168);
     transition: ease-out .5s;
     font-size: 1rem;
     outline: none;
     font-size: 20px;
     padding: 20px;
     border: 4px solid rgb(0, 0, 0);
 }
 
 .adtnav:hover {
     box-shadow: inset 0px 0px 0px 100px rgb(122, 122, 122);
     transition: ease-out .5s;
  
 }



 .BvnOoo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: rgb(255, 228, 154);
    width: 50%;
    border-radius: 30px;
    border: 1rem solid;
    border-color: rgb(78, 255, 54);
    width: 40%;
}


.TitreOoo{
    font-size: 21px;
    background-color: rgb(78, 255, 54);
    border-radius: 20px;
    border: solid rgb(17, 143, 0);
    color: rgb(0, 0, 0);
    width: 30%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.escargot{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: rgb(255, 228, 154);
    width: 50%;
    border-radius: 30px;
    border: 1rem solid;
    border-color: rgb(78, 255, 54);
    width: 40%;
}

.escargotTitre{
    font-size: 21px;
    background-color: rgb(78, 255, 54);
    border-radius: 20px;
    border: solid rgb(17, 143, 0);
    color: rgb(0, 0, 0);
    width: 30%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.range1 {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin-top: 30px;
}

.range2{
    display: flex;
    justify-content: center;
}
.Heros{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: rgb(255, 228, 154);
    width: 50%;
    border-radius: 30px;
    border: 1rem solid;
    border-color: rgb(78, 255, 54);
    margin-top: 20px;
}

.HerosTitre{
    font-size: 21px;
    background-color: rgb(78, 255, 54);
    border-radius: 20px;
    border: solid rgb(17, 143, 0);
    color: rgb(0, 0, 0);
    width: 30%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


.range3 {
  display: flex;
}
.DistantLands{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: rgb(255, 228, 154);
    width: 50%;
    border-radius: 30px;
    border: 1rem solid;
    border-color: rgb(78, 255, 54);
    margin-top: 20px;

}

.DistantTitre{
    font-size: 21px;
    background-color: rgb(78, 255, 54);
    border-radius: 20px;
    border: solid rgb(17, 143, 0);
    color: rgb(0, 0, 0);
    width: 30%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.escargotJeu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: rgb(255, 228, 154);
    width: 50%;
    border-radius: 30px;
    border: 1rem solid;
    border-color: rgb(78, 255, 54);
    margin-top: 20px;
}

.DistantTitre{
    font-size: 21px;
    background-color: rgb(78, 255, 54);
    border-radius: 20px;
    border: solid rgb(17, 143, 0);
    color: rgb(0, 0, 0);
    width: 30%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.snailJeu{
    position: absolute;
    left: 83%;
    bottom: 37%;
}

.EscarJeu{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.lepetittextealaconçamesaoul{
    display: flex;
    justify-content: center;
}



.footeradt {
    background-image: url(img/Navadt.png);
    padding: 10px ;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
    background-size: 100%;
    border-radius: 20px;
}
